<!DOCTYPE html>
<html ng-app="app7" ng-cloak>
  <head>
    <title>AngularJS Tutorial 6</title>
    <style>
      [ng\:cloak], [ng-cloak], .ng-cloak {
        display: none;
      }
    </style>
  </head>
  <body>

    <div ng-controller="mainCtrl as parent">

      <p>Name: {{parent.name}}</p>
      <p>Sound: {{parent.sound}}</p>
      <button ng-click=parent.animalClick()>Animal Data</button>
    </div>

    <div ng-controller="dogCtrl as dog">

      <p>Name: {{dog.child.name}}</p>
      <p>Sound: {{dog.child.sound}}</p>
      <button ng-click=dog.child.animalClick()>Dog Data</button>

      <button ng-click=dog.child.dogData()>More Dog Data</button>

      <input type="text" ng-model="dog.child.bark"><br><br>
      <span>New Bark: {{dog.child.bark}}</span>

    </div>


    <!-- Load the AngularJS library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>

    <!-- Load the JS Module -->
    <script src="js/exam7.js"></script>
  </body>
</html>
